.black{
    color: #282829;
}

.dark-blue{
    color: #025077;
}
.blue{
    color: #108ec8;
}
.white{
    color: #fff;
}
.light-blue{
    color: #108ec8;
}
.hidden{
    display: none !important;
}
.like_h3{
    font-size: 15px;
    font-weight: 700;
    color: #282829;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.like_h3_noup{
    font-size: 15px;
    font-weight: 700;
    color: #282829;
    margin-bottom: 15px;
}
.font-size18{
    font-size: 18px;
}

.font-size20{
    font-size: 20px;
}
.open-sans{
    font-family: "OpenSans";
}
.rubik{
    font-family: "Rubik";
}
.bold-black{
    color: #1d1d1d;
    font-weight: 700;
}
.content_bigger-fs{ 
    font-size: 17px;
}
.t-transform-none{
    text-transform: none;
}
.t-a-center{
    text-align: center;
}
.def-mrg{
    margin-bottom: 50px;
}
.med-mrg{
    margin-bottom: 40px;
}
.small-mrg{
    margin-bottom: 30px;
}
.small-mrg_static{
    margin-bottom: 30px;
}
.nano-mrg{
    margin-bottom: 5px;
}
.small-mrgfix-add-border{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e8ed;
}
.add-border-bottom{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #e6e8ed;
}

.add-remove-extra-telephone-block{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.js-add-extra-telephone{
    font-size: 17px;
    max-width: 170px;
    margin-right: 10px;
    display: flex;
    justify-content: left;
}
.js-remove-extra-telephone{
    font-size: 17px;
    max-width: 170px;
    display: flex;
    justify-content: left;
}

.js-add-extra-telephone:hover, .js-remove-extra-telephone:hover{
    cursor:pointer;
    color: #00597d;
}

.add-extra-telephone-text{
    margin-left: 5px;
    text-underline-offset: 3px;
    text-decoration: dotted;
    text-decoration-line:underline;
}

.add-remove-extra-adress-block{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.js-add-extra-adress{
    font-size: 17px;
    max-width: 170px;
    margin-right: 10px;
    display: flex;
    justify-content: left;
}
.js-remove-extra-adress{    
    font-size: 17px;
    max-width: 170px;
    display: flex;
    justify-content: left;
    margin-bottom: 25px;
}

.js-add-extra-adress:hover, .js-remove-extra-adress:hover{
    cursor:pointer;
    color: #00597d;
}

.add-extra-adress-text{
    margin-left: 5px;
    text-underline-offset: 3px;
    text-decoration: dotted;
    text-decoration-line:underline;
}

.profile-data-title_mrgfix{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e8ed;
}
.profile-data-title_mrgfix-no_border{
    margin-bottom: 30px;
}

.input_right_image{
    position: absolute;
    right: -25px;
    top: 33px;
}
.input_right_image:hover{
    cursor: pointer;
}
div.input_right_image.input_right_image_pass{
    width: 40px;
    height: 40px;
    right: 15px;
    top: 28px;
    background-image: url("../images/img/eye_pass.png");
    background-repeat: no-repeat;
    background-position: center;
}
.input_right_image:mousedown{
    cursor:grab;
}
.input_right_image_pass{
    top: 44px;
}


.pass_input_outer{
    position: relative;
}
.pass_input_outer .eye-icon{
    bottom: 10px;
}
.field-label-common-mrgfix{
    margin-bottom: 6px;
    font-size: 17px;
}
.field-mrgfix{
    margin-bottom: 15px;
}

.btn_save{
    padding: 0;
    margin-top: 25px;
}
.btn_save-link {
    min-height: 50px;
    line-height: 48px;
    padding-right: 22px;
    padding-left: 22px; 
}
.btn_save-link_order{
    min-width: 240px;
}
.btn_save-link:hover {
    background-color: #025077;
}
.btn_abort{
    padding: 0;
    margin-top: 25px;
    position: absolute;
    left: 250px;
}
.btn_abort-link {
    color: black;
    display: inline-block;
    min-width: 205px;
    min-height: 50px;
    line-height: 48px;
    padding-right: 22px;
    padding-left: 22px; 
    background-color: #fff;
    border: 1px solid #1d1d1d;
}
.btn_abort-link:hover {
    border: 1px solid #025077;
    color: #025077;
}
.buttons_on_line_outer
{
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: left;
}

.selectric-wrapper.selectric-selectSexForm .selectric .selectric-button{
    right: 5px;
}
.selectric-wrapper.selectric-selectSexForm .selectric .label{
    line-height: 42px;
    height: 42px;
    margin-left: 15px;
    border-bottom: none;
}
.selectric-wrapper.selectric-selectSexForm.selectric-input_modified.selectric-hover{
    text-decoration: none;
}

.selectric-selectSexForm{
    border: 1px solid #e6e8ed;
}

.adress-list{
    margin-bottom: 30px;
    font-size: 16px;
}
.adress-list-item{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #e6e8ed;
}
.adress-list-text{
    margin-top: 3px;
}

.trash-col{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 50px;
    max-height: 50px;

    margin-left: auto;
}

.trash-col:hover{
    cursor: pointer;
    border:1px solid #dcdee6;
}

.club-banner-inner{
    max-width: 320px;
}
.club-banner-contact{
    margin-top: 30px;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: self-end;
}
.club-banner-contact i{
    margin-right: 5px;
}
.club-banner-text{
    color: #707070;
    font-size: 20px;
    line-height: 28px;
    font-family: 'OpenSans';
}
.club-banner-contact a{
    color: #1d1d1d;
    text-underline-offset: 3px;
}
.club-banner-contact:hover{
    color: #007aff;/*#7d7d7d*/
    cursor: pointer;
}
.club-banner-detail{
    padding-left: 45px;
    padding-top: 45px;
    width: 35%;
    position: relative;
    z-index: 1;
}
.club-banner-wrapper{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #dcdee6;
}
.club-banner-img{
    margin-right: 55px;
}

.assortymentius-h3{
    padding-top: 20px;
}
.assortymentius-block{
    margin-bottom: 40px;
}
.assortymentius-slider-block{
    margin: 0 auto;
}
.club-purchase-slide-undertext{
    max-width: 100%;
    height: 50px;
    background-color: #025077;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.club-purchase-slide-undertext:hover{
    background-color: #00597d;
    cursor: pointer;
}

.products-box-assortymentus {
    min-height: 100%; 
}
.products-box-assortymentus:hover {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.09); 
}

.print-tech-wrapper{
    margin: 0 auto;
}
.print-tech{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}
.print-tech-item{
    margin: 15px;
}
.print-tech-item-text-block{
    max-width: 200px;
    margin-left: 30px;
}
.print-tech-item-title{
    font-size: 22px;
    color: #1d1d1d;
}
.print-tech-item-text{
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.catalog-category-img-block{
    height: 125px;
    width: 125px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
}

.catalog-category-image{
    padding: 5px;
}


.club-banner.club-banner-question{
    background-image: url("../images/club-purchase/have_a_questions_woman_bkg.png");
    background-size: cover;
    margin-top: 40px;
    padding-left: 0;
    margin-bottom: -70px;
}
.club-banner-question-inner{
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.club-banner-form{
    background-color:transparent;
}
.club-banner-form-name{
    color: #fff;
    text-align: left;
}
.input.club-banner-field-input{
    color: #a0bbc9;
}
.field-label-club-banner{
    color: #a0bbc9;
    position: initial;
}
.club-banner-question-form-title{
    font-size: 40px;
    text-align: left;
}
.club-banner-question-form-text{
    font-size: 25px;
    text-align: left;
}
.club-banner-text-block{
    margin-top: 50px;
}
.form.club-banner-form{
    overflow: visible;
}

.products-item.products-item-assortyments::after{
    content: none;
}
.products-assortyments{
    overflow: hidden;
}
.products-list-assortyments{
    margin-bottom: 50px;
}
.products-item-assortyments{
    width: 100%;
    height: 100%;
}
.products-photo-assortyments{
    background: url("../images/club-purchase/pic_gradient.png");
    text-align: center;
    border: 1px solid #e6e8ed;
}
.products-img-assortyments{
    height: 100%;
}
.ui-datepicker-trigger{
    background: url("../images/img/calendary.png");
    position: absolute;
    right: -25px;
    top: 33px;
    width: 21px;
    height: 21px;
}

.feedback-mrgfix{
    margin-bottom: -70px;
}
.club-feedback-info{
    max-width: 390px;
}

.for-partners-feedback-detail{
    margin-top: 110px;
    max-width: 550px;
}
.for-partners-feedback-info{
    max-width: 550px;
}
.club-purchase-feedback-container{
    position: relative;
}

.feedback-form-img {
    position: absolute;
    transform: translateX(50%);
}
.feedback-form-img-for-partners{
    position: absolute;
    transform: translateX(90%);
    bottom: 0;
}

/*ЛукБук*/
.look-book-categories{
    font-family: 'PFDinDisplayPro';
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border-bottom: 2px solid #e6e8ed;
}
.look-book-categories-item{
    position: relative;
    margin-right: 40px;
    color: #707070;
    text-transform: uppercase;
    z-index: 1;
}
.look-book-categories-item:hover{
    cursor: pointer;
    color: #282829;
}
.look-book-categories-item-active{
    color: #282829;
    text-decoration: underline;
    text-decoration-color: #025077;
    text-decoration-style: solid;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}
.look-book-number{
    font-family: 'PFDinDisplayPro';
    font-weight: 900;
    font-size: 35px;
    color: #fff;
    font-style:normal;
    text-shadow: 1px 0 1px #282829, 
    0 1px 1px #282829, 
    -1px 0 1px #282829, 
    0 -1px 1px #282829;
}

.look-book-item{
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e6e8ed;
}
.look-book-item:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.look-book-item_desc{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}

.look-book-item-little_pic{
    align-items: center;
    display: flex;
    width: 100%;
}
.look-book-item-big_pic{
    /*align-items: center;
    display: flex;*/
    width: 100%;
}

.look-book-item-text_right{
    text-align: right;
}

.look-book-load-more{
    margin-top: 70px;
    margin-bottom: 50px;
}
/*\\\\ЛукБук*/

/*Лукбук Детальная*/
.breadcrumbs-icon-mrgright{
    margin-right: 10px;
    margin-left: 0;
}
.breadcrumbs-icon-mrgleft{
    margin-right: 0;
    margin-left: 10px;
}
.look-book-detail-video{
    max-height: 500px;
}
.look-book-detail-item{
    margin-top: 15px;
    padding-bottom: 15px;
}
.look-book-item-detail_pic_col
{
    display: flex;
    flex-wrap: wrap;
}
.look-book-block{
    margin-bottom: 50px;
}
.look-book-item-detail_pic_col .look-book-item-little_pic_single_col:first-child{
    padding-bottom: 15px;
}
.look-book-item-detail_pic_col .look-book-item-little_pic_single_col:last-child{
    padding-top: 15px;
}
.card-block-look-book-detail-big_pic{
    display: flex;
    align-items: flex-start;
}
.look-book-card-content{
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e8ed;;
}
.look-book-microcard-item-pic img{
    width: 90px;
}
.look-book-microcard-product-detail-color{
    margin-bottom: 20px;
}
.look-book-microcard-product-detail-size{
    margin-bottom: 7px;
}
.look-book-microcard-product-detail-price{
    margin-bottom: 0px;
    border-bottom: none;
}
.look-book-microcard-item{
    border-bottom: 1px solid #e6e8ed;
    margin-bottom: 25px;
}
.look-book-microcard-item:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.h1-align-center{
    text-align: center;
}

.look-book-microcard-card-buttons .amount{
    margin: 0;
}
.card-buttons.product-detail-buttons.look-book-microcard-card-buttons{
    margin-bottom: 0px;
    flex-wrap: wrap;
}
.look-book-microcard-card-buttons-item{
    margin-right: 20px;
    margin-bottom: 25px;
}
.look-book-microcard-card-buttons-item:last-child{
    margin-right: 0;
}
.look-book-microcard-card-buttons-item a{
    margin: 0;
}
.look-book-microcard-product-detail-panel{
    margin-bottom: 0;
    border-bottom: none;
}

.look-book-prev-next-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e8ed;
    border-top: 1px solid #e6e8ed;
    margin-bottom: 50px;    
}
.look-book-prev-next-block .breadcrumbs-link:hover{
    text-decoration: underline;
}
.look-book-prev-next-little-block-item{
    display: flex;
    align-items: center;
    filter: grayscale(30%);
}
.look-book-prev-next-little-block-item:hover{
    filter: grayscale(60%);
    cursor: pointer;
}

.look-book-prev-next-little-block-item_link_left{
    margin-left: 10px;
    margin-bottom: 5px;
}
.look-book-prev-next-little-block-item_link_right{
    margin-right: 10px;
    margin-bottom: 5px;
}
.look-book-prev-next-block-big{
    max-height: 490px;
    overflow: hidden;
}
.look-book-prev-next-big-block-item {
    max-height: 490px;
    filter: grayscale(30%);
}
.look-book-prev-next-big-block-item_img{
    width: 100%;
}
.full-cover-block-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.look-book-prev-next-big-block-item_link{
    width: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    color: #fff;
}
.look-book-prev-next-big-block-item{
    filter: grayscale(30%);
}
.look-book-prev-next-big-block-item:hover{
    filter: grayscale(60%);
}
.look-book-prev-next-big-block-item:hover .look-book-prev-next-big-block-item_link-text{
    border-bottom: 2px solid #fff;
}

.look-book-microcard-title{
    color: black;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    grid-auto-columns: minmax(20%, 80vmax);
}
/*\\\\Лукбук Детальная*/

/*для партнеров*/
.block-pretitle-center{
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
    margin-bottom: 40px;
    font-size: 16px;
}
.for-partners-slider{
    margin-bottom: 50px;
}
.for-partners-slider-item {
    width: 640px;
}
.for-partners-slider .swiper-slide:not(.swiper-slide-active) .lookbook-block {
    width: 100%;
    filter: grayscale(30%);
    overflow: hidden;
}

.turbo-mozaika{
display: grid;
grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-start] auto [col5-start] auto [col5-end];
grid-template-rows: [row1-start] auto [row2-start] auto[row3-start] auto [row4-start] auto [row4-end] auto;
gap: 10px;

display: -ms-grid;
                /* 1        3        5        7        9  */
    -ms-grid-columns: 20% 10px 20% 10px 20% 10px 20% 10px 20%;
    column-gap: 10px;
                 /* 1        3        5        7*/
    -ms-grid-rows: 25% 10px 25% 10px 25% 10px 25%;

    margin-bottom: 80px;
}
.turbo-mozaika-img_block .product-detail-gallery-link{
    display: initial;
}
.turbo-mozaika-img_block{
    width: 100%;
}
.turbo-mozaika-img_block:hover{
    filter: grayscale(60%);
}

.turbo-mozaika-el1{
    grid-column: col1-start;
    grid-row: row1-start;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
.turbo-mozaika-el2{
    grid-column: col1-start;
    grid-row: row2-start / row4-start;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
}
.turbo-mozaika-el3{
    grid-column: col1-start;
    grid-row: row4-start;
    -ms-grid-column: 1;
    -ms-grid-row: 7;
}
.turbo-mozaika-el4{
    grid-column: col2-start;
    grid-row: row1-start;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}
.turbo-mozaika-el5{
    grid-column: col2-start;
    grid-row: row2-start;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}
.turbo-mozaika-el6{
    grid-column: col2-start;
    grid-row: row3-start / row4-end;
    -ms-grid-column: 3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
}
.turbo-mozaika-el7{
    grid-column: col3-start;
    grid-row: row1-start / row3-start;
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
}
.turbo-mozaika-el8{
    grid-column: col3-start;
    grid-row: row3-start;
    -ms-grid-column: 5;
    -ms-grid-row: 5;
}
.turbo-mozaika-el9{
    grid-column: col3-start;
    grid-row: row4-start;
    -ms-grid-column: 5;
    -ms-grid-row: 7;
}
.turbo-mozaika-el10{
    grid-column: col4-start;
    grid-row: row1-start;
    -ms-grid-column: 7;
    -ms-grid-row: 1;
}
.turbo-mozaika-el11{
    grid-column: col4-start;
    grid-row: row2-start / row4-start;
    -ms-grid-column: 7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
}
.turbo-mozaika-el12{
    grid-column: col4-start;
    grid-row: row4-start;
    -ms-grid-column: 7;
    -ms-grid-row: 7;
}
.turbo-mozaika-el13{
    grid-column: col5-start / col5-end;
    grid-row: row1-start;
    -ms-grid-column: 9;
    -ms-grid-row: 1;
}
.turbo-mozaika-el14{
    grid-column: col5-start / col5-end;
    grid-row: row2-start;
    -ms-grid-column: 9;
    -ms-grid-row: 3;
}
.turbo-mozaika-el15{
    grid-column: col5-start / col5-end;
    grid-row: row3-start;
    -ms-grid-column: 9;
    -ms-grid-row: 5;
}
.turbo-mozaika-el16{
    grid-column: col5-start / col5-end;
    grid-row: row4-start;
    -ms-grid-column: 9;
    -ms-grid-row: 7;
}

.for-partners-minibanner{
    background-image: url(../images/for-partners/opt_variant.png);  
    height: 279px;
}
.for-partners-minibanner-title{
    padding-top: 40px;  
    color: #fff;
    text-align: center;
}
.for-partners-minibanner-variants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.minibanner-variant-number{
    border-right: 1px solid #a0bbc9;
    font-size: 50px;
    font-weight: 600;
    line-height: 0;

    color: transparent;
    -webkit-text-stroke: 1px #a0bbc9;

    height: 80%;
    display: flex;
    align-items: center;
    padding: 0px 19px;

    margin-right: 20px;
}
.minibanner-variant{
    border: 1px solid #a0bbc9;
    font-family: 'PFDinDisplayPro';
    margin-bottom: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    background: #0471a84f;
}
.minibanner-variant-text{
    font-size: 19px;
    color: #e6e8ed;
}
/*\\\для партнеров*/

.switch-label-gray{
    color: #7d7d7d;
}
.switch-label.switch-label-gray a{
    color: #7d7d7d;
}

.profile-data-group-form_segment{
    padding-bottom: 40px;
    border-bottom: 1px solid #dcdee6;
    margin-bottom: 50px;
}
.text-low_visibility{
    color: #b1b3b9;
    font-size: 15px;
    font-weight: 400;
}
/*order page*/
.order-login-attention-item{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
}

.order-btn-login{
    margin-left: 25px;
}
.input_form_comment{
    height: 210px;
    resize: none;
}
.content-text-block{
    font-family: 'OpenSans', sans-serif;
    margin-bottom: 40px;
}
.radio-multilabel{
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    font-size: 18px;
}

input[type="radio"]:checked + label {
    color: #282829;
}
input[type="radio"] + label:hover, input[type="radio"]:hover {
    cursor: pointer;
}
.js-accordion-input-country{
    border: 1px solid #dcdee6;
    border-bottom: none;
    margin-bottom: 40px;
}
.js-accordion-input-country:hover{
    cursor: pointer;
}
.js-accordion-input-country-item_active_wrapper{
    position: relative;
}
.js-accordion-input-country_right-angle{
    position: absolute;
    right: 15px;
    top: 10px;
}

.js-accordion-input-country-item,
.js-accordion-input-country-item_active{
    padding: 10px 20px;
    border-bottom: 1px solid #dcdee6;
    display: flex;
    align-items: center;
    justify-content: left;
}

.accordion-input-country-item_name{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-left: 10px;
    color: #1d1d1d;
}
.accordion-input-country-item_img{
    height: 20px;
    border: 1px solid #d6d6d6;
}

.js-delivery-block-order{
    position: relative;
    padding: 20px;
    text-align: left;
    min-height: 185px;
}
.js-delivery-block-order:hover{
    cursor: pointer;
}
.js-delivery-block-order .delivery-name{
    margin-top: 10px;
}
.delivery-block-order-checked{
    border-color: #282829;
}
.delivery-list-order{
    margin-bottom: 20px;
}
.delivery-list-order .delivery-list-item{
    margin-bottom: 30px;
    display: block;
} 
.delivery-cost{
    margin-bottom: 11px;
    font-weight: 700;
    color: #1c1c1c;
}
.radio-check_delivery-pick-input{
    position: absolute;
    right: 8px;
    top: 15px;
}

.delivery-order-img{
    margin-left: 0;
    display: block;
}
/* order sidebar*/
.no_margin{
    margin: 0;
}
.pos-relative{
    position: relative;   
}
.order-sidebar-col {
    margin-bottom: 37px;
}
.order-sidebar{
    border: 1px solid #dcdee6;
    border-bottom: none;
}
.order-sidebar-value{
    font-size: 15px;
    font-weight: 400;
    color: #1d1d1d;
    white-space: nowrap;
}
.order-sidebar-value_price{
    font-size: 15px;
    font-weight: 500;
    color: #1d1d1d;
}
.order-sidebar-value_price .profile-order-table-price-currency{
    font-size: 15px;
    font-weight: 500;
    color: #1d1d1d;
}

.sidebar_profile-order-table-props-item{
    margin-bottom: 0;
}

.order-sidebar-header{
    display: flex;
    justify-content: space-between;
}
.sidebar-block-ex_padding{
    padding: 17.5px;
    border-bottom: 1px solid #dcdee6;
}
.sidebar-order-table-wrapper{
    padding: 0;
    border-bottom: 1px solid #dcdee6;
}
.sidebar-order-table{
    height: 200px;
    margin-bottom: 20px;
    padding: 0 20px;
}
.basket-order-before_free_shipment{
    background-color: #f6f6f9;
    display: flex;
    align-items: center;
}
.basket-order-before_free_shipment-item-img-wrapper{
    width: 45px;
    height: 45px;
    border: 1px solid #dcdee6;
    border-left-color:#014161;
    border-radius: 50%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.basket-order-before_free_shipment-item:first-child{
    margin-right: 20px;
}
.basket-order-before_free_shipment-item-img{
    padding: 10px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*\\sidebar*/
/*\\order page*/

/*about-brand*/
.big-n-little-t{
    height: 160px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-n-little-t::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7.5%;
    width: 85%;
    height: 1px;
    background: #E9ECF0;
}
.big-n-little-t:after{
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    width: 1px;
    height: 80%;
    background: #E9ECF0;
}
.big-n-little-t:nth-child(1n + 4)::before{
    content: none
}
.big-n-little-t:nth-child(3n)::after{
    content: none;
}
  
.big-n-little-t_number{
    font-family: "PFDinDisplayPro";
    color: #014161;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.big-n-little-t_text{
    text-align: center;
}

.company-purpose{
    background-image: url("../images/about-brand/bkg_purpose.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 25px;
    margin-top: 20px;
}
.company-purpose_factory{
    background-image: url("../images/about-brand/bkg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 30px;
}
.company-purpose_factory.big-n-little-t{
    justify-content: left;
}

.company-aspects-item{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'PFDinDisplayPro';
    margin-bottom: 15px;/*25xp*/
    text-align: left;
}

.company-aspects-item:last-child{
    margin-bottom: 0;
}

.company-aspects-item_number{
    border-right: 1px solid #d6d6d6;
    font-size: 30px;
    font-weight: 600;
    line-height: 0;
    color: #025077;
    height: 40px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.company-aspects-item_number-feedback{
    font-size: 25px;
    height: 46px;
}
.company-aspects-item_number--modified{
    font-size: 50px;
    font-weight: 900;
    padding-right: 0px;
    border-right: none;
}
.our_factory-wrapper{
    overflow: hidden;
    margin-bottom: 50px;
    background-image: url(../images/about-brand/bkg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 630px;
    /*
    display: flex;
    align-items: center;    
    justify-content: center;
    */
    padding-top: 60px;
    padding-bottom: 60px;
}
.our_factory-undertext{
    font-weight: bold;
    text-align: center;
}
/*history*/
.history-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
    width: 30px;
    height: 100%;
    transform: scaleX(-1);
    background: url("../images/history/timeline-bgr.png") repeat-y 0 0;
  }
.history-timeline-list {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
}
.history-timeline-item {
  position: relative;
  width: 23px;
  margin-right: 86px;
}
.history-timeline-link {
    display: inline-block;
}
.history-timeline-label {
    position: absolute;
    left: 0;
    bottom: 34px;
    width: 50px;
    margin-left: -13px;
    font-size: 15px;
    color: #a0a0a0;
    font-weight: 800;
    text-align: center;
}
.history-timeline-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.history-timeline-item_active .history-timeline-icon-decor {
    background-color: #335aa6;
}
.history-timeline-icon-decor {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d6d6d6;
    border: 3px solid #fff;
}

/*map style*/
.map-title_for-partners{
    margin-top: 35px;
}
.map-title_company-aspects{
    display: flex;
    justify-content: left;
    align-items: center;
}
.map-title_company-aspects-item{
    align-items:initial;
    margin-right: 25px;
}
.map-title_company-aspects-item:last-child{
    margin-bottom: 25px;
}
.map-title_company-aspects-item_number{
    color: #282829;
    font-size: 40px;
}
.map-title_company-aspects-item_number:first-child{
    margin-left: 10px;
}
.map-title_content{
    line-height: 5px;
}

.banners-fon-list__svg-wrapper{
    padding: 0px 20px 80px 20px;    
}
.banners-fon-list__svg{
    position: relative;
}


.region-baloon-open.region-baloon-open-hover{ 
    opacity: 0; 
}
.banners-fon-list__baloon{
    display: none;
    position: absolute;
    width: 260px;
    box-shadow: 0 0 13px rgba(0,0,0,.08);
    transform: translate(-50%,-100%);
}

.banners-fon-list__baloon::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: rotate(45deg);
}
.banners-fon-list__baloons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
}
.banners-fon-list__baloon-active{
    display: inline-block;
    background-color: #fff;
}
.markers-description-item{
    padding: 20px 20px 0 20px;
    line-height: 10px;
}
.region-item:hover, 
.region-item:hover path, 
.region-item-hover, 
.region-item-hover path { 
    fill: #025077 !important;
} 
 
.region-item, 
.region-baloon-open { 
    cursor:pointer; 
} 

/*\\map style*/

.feedback-company-aspects_content{
    font-size: 20px;
    text-align: left;
}
.feedback-company-aspects_content div{
    margin-bottom: 10px;
}

/*\\history*/
/*\\about-brand*/

@media screen and (max-width: 1440px) {
    .for-partners-slider-item {
        width: 440px;
    } }

@media (max-width: 1200px){
    .big-n-little-t_number{
        font-size: 30px;
    }
    .look-book-microcard-card-buttons-item{
        flex-wrap: wrap;
    }
    .feedback-form-img {
        display: none;
    }
    .feedback-form-img-for-partners{
        transform: translateX(60%);
    }
}

@media (max-width: 992px){
    .company-purpose{
        margin-top: 0;
    }
    .slider-margin{
        margin-bottom: 25px;
    }
    .order-sidebar-col{
        order: -1;  
    }
    .sidebar-order-table{
        height: 250px;
    }
    .feedback-form-img-for-partners{
        transform: translateX(5%);
        height: 70%;
    }
    .for-partners-feedback-detail{
        max-width: 400px;
    }
    .for-partners-feedback-info{
        max-width: 400px;
    }
    .card-block-look-book-detail-big_pic{
        justify-content: center;
        margin-bottom: 30px;
    }
    .look-book-block-more-button{
        text-align: center;
    }
    .look-book-detail-video{
        margin-top: 30px;
    }
    .look-book-item_title{
        font-size: 25px;
        line-height: 27px;
    }
    .look-book-item{
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .assortymentius.content{
        margin-bottom: 30px;
    }
    .print-tech-item-title, .print-tech-item-text{
        text-align: center;
    }
    .print-tech-item-text-block{
        margin: 15px;
    }
    .club-banner-question-form-title{
        text-align: center;
        color: #e6e8ed;
    }
    .club-banner-question-form-text{
        text-align: center;
        color: #e6e8ed;
    }
    .products.js-slider-ClubPurchase-products{
        overflow:hidden;
    }
    .slider-panel.slider-pandel-ClubPurchase{
        display:flex;
    }
    .js-slider-ClubPurchase-products .products-list{
        margin-bottom: 25px;
    }
    .ui-datepicker-trigger{
        right: 25px;
    }
    
    .minibanner-variant{
        height: 50px;
    }
    .feedback-form-img-for-partners_about-brand{
        display: none;
    }
    .for-partners-slider-item {
        width: 320px;
    }
}
@media (max-width: 720px){
    .js-accordion-input-country{
        margin-bottom: 20px;
    }
    .js-delivery-block-order{
        text-align: left;
    }
    .banners-fon-list__baloon{
        width: initial;
    }
    .turbo-mozaika{
        margin-bottom: 40px;
    }
    .big-n-little-t{
        height: 170px;
    }

    .map-title_for-partners {
        text-align: center;
      }
    .map-title_company-aspects {
        justify-content: center;
    }
    .company-aspects-item_number{
        padding-right: 10px;
        margin-right: 10px;
    }
    .minibanner-variant-number{
        padding: 0px 10px;
        margin-right: 10px;
        font-size: 40px;
    }
    .feedback-company-aspects{
        margin-bottom: 40px;
    }
    
    .add-border-bottom{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .block-border-bottom{
        padding-bottom: 25px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e6e8ed;
    }
    .big-n-little-t_number{
        font-size: 20px;
    }
    .def-mrg, .med-mrg, .small-mrg{
        margin-bottom: 20px;
    }
    .delivery-order-img{
        margin: 0 auto;
    }
    .minibanner-variant{
        height: 60px;
    }
    .feedback-form-img-for-partners{
        display: none;
    }
    .for-partners-feedback-detail{
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
    .feedback-detail-club-purchase{
        min-height: 0;
        max-width: none;
        margin-left: 0;
        padding: 50px 15px 20px 15px;
        text-align: center;
        background-image: none;
    }

    .for-partners-feedback-info{
        max-width: 100%;
    }
    .club-banner-detail{
        width: 100%;
    }
    .look-book-microcard-item-pic{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .look-book-item-text_right{
        order: -1;
    }
    .print-tech-item{
        width: 100%;
    }
    .buttons_on_line_outer
    {
        justify-content: center;
        flex-wrap: wrap;
    }
    .btn_abort{
        margin-top: 15px;
        position: unset;
        display: flex;
        justify-content: center;
    }
    .btn_save{
        margin-top: 15px;
        position: unset;
        display: flex;
        justify-content: center;
    }
    .btn_save-link{
        max-width: 100%;
        width: 100%;
    }
    .btn_abort-link{
        max-width: 100%;
        width: 100%;
    }
    .look-book-prev-next-block{
        margin-bottom: 25px;
    }
    .look-book-block{
        margin-bottom: -25px;
    }
    .look-book-item-text{
        margin-bottom: 10px;
    }
    .look-book-microcard-card-buttons-item:last-child{
        margin-bottom: 25px;
        width: 100%;
    }
    .look-book-microcard-card-buttons-item:nth-child(2){
        flex-grow: 1;
        margin-right: 0;
    }
    .look-book-microcard-card-buttons-item:nth-child(2) a{
        width: 100%;
    }
    .card-buttons.product-detail-buttons.look-book-microcard-card-buttons{
        margin-bottom: 0;
    }
    .look-book-prev-next-little-block-item .look-book-prev-next-little-block-item_link_left .breadcrumbs-link .breadcrumbs-link_text{
        display: none;
    }
    .look-book-prev-next-little-block-item .look-book-prev-next-little-block-item_link_right .breadcrumbs-link .breadcrumbs-link_text{
        display: none;
    }
    .look-book-prev-next-big-block-item:first-child{
        padding-right: 7.5px;
    }
    .look-book-prev-next-big-block-item:last-child{
        padding-left: 7.5px;
    }
    .look-book-prev-next-big-block-item_link-text .breadcrumbs-link_text{
        display: none;
    }
    .look-book-prev-next-big-block-item_link i.breadcrumbs-icon-mrgleft, .look-book-prev-next-big-block-item_link i.breadcrumbs-icon-mrgright{
        margin: 0;
    }


    /*aga aga a kak inache?*/
    .look-book-detail-item{
        margin-top: 0;
    }
    /*kogda 2 kolonki*/
    .look-book-detail-item .look-book-item-little_pic:first-child{
        padding-right: 7.5px;
    }
    .look-book-detail-item .look-book-item-little_pic:last-child{
        padding-left: 7.5px;
    }
    /*kogda 2 kartinki v kolonke sleva i 1 sprava */
    .look-book-detail-item.look-book-detail-item_big_pic_first .look-book-item-detail_pic_col:last-child{
        padding-left: 7.5px;
    }
    .look-book-detail-item.look-book-detail-item_big_pic_first .look-book-item-detail_pic_col:first-child{
        padding-right: 7.5px;
    }
    /*kogda 2 kartinki v kolonke sprava i 1 sleva */
    .look-book-detail-item.look-book-detail-item_big_pic_last .look-book-item-detail_pic_col:first-child{
        padding-right: 7.5px;
    }
    .look-book-detail-item.look-book-detail-item_big_pic_last .look-book-item-detail_pic_col:last-child{
        padding-left: 7.5px;
    }
    /*dlya 2 kartinok v kolonke*/
    .look-book-item-detail_pic_col .look-book-item-little_pic_single_col:first-child{
        padding-bottom: 7.5px;
    }
    .look-book-item-detail_pic_col .look-book-item-little_pic_single_col:last-child{
        padding-top: 7.5px;
    }
}

@media (max-width: 842px){
    .look-book-categories-item-active{
        text-underline-offset: 4px;
    }
    .look-book-categories-item{
        margin-bottom: 15px;
    }
}
@media (max-width:400px){
    .order-login-attention-item {
        justify-content: center;
        flex-wrap: wrap;
    }
    .order-login-attention-item .order-btn-login{
        margin-top: 20px;
    }
    .for-partners-minibanner-title {
        padding-top: 20px;
    }
    .minibanner-variant-number{
        padding-top: 3px;
    }
    .feedback-company-aspects_content{
        font-size: 15px;
    }
    .feedback-company-aspects_content span{
        font-size: 20px;
    }
    .map-title_company-aspects-item_number {
        font-size: 25px;
    }
    .company-purpose_factory{
        padding: 20px 10px;
    }
    .big-n-little-t {
        height: 220px;
    }
}

/*history*/
@media screen and (max-width: 460px) {
.articles-wishlist-img-val {
  min-height: 200px; } }


.history-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

.history-title {
  margin-bottom: 0; }

.history-content {
  display: none; }
  .history-content:after {
    content: "";
    clear: both;
    display: table;
    line-height: 0; }

.history-content_active {
  display: block; }

.history-slider-list {
  margin-bottom: 35px;
  overflow: hidden; }

.history-slider-img {
  display: block;
  width: 100%; }

.history .owl-stage {
  display: flex; }

.history .owl-item {
  position: relative; }
  .history .owl-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); }

.history .owl-item.active:after {
  display: none; }

.history-timeline {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px; }
  .history-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
    width: 30px;
    height: 100%;
    transform: scaleX(-1);
    background: url("../images/history/timeline-bgr.png") repeat-y 0 0; }
  .history-timeline:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 35px;
    height: 100%;
    background: url("../images/history/timeline-bgr.png") repeat-y 0 0; }

.history-timeline-block {
  overflow-x: hidden; }
  .history-timeline-block:after {
    content: '';
    position: absolute;
    bottom: 13px;
    left: 25px;
    width: calc(100% - 11px);
    height: 2px;
    background-color: #d6d6d6; }

.history-timeline-list {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 50px;
  margin-left: 20px; }

.history-timeline-item {
  position: relative;
  width: 23px;
  margin-right: 86px; }
  .history-timeline-item:last-child {
    padding-right: 80px; }

.history-timeline-link {
  display: inline-block; }

.history-timeline-label {
  position: absolute;
  left: 0;
  bottom: 34px;
  width: 50px;
  margin-left: -13px;
  font-size: 15px;
  color: #a0a0a0;
  font-weight: 800;
  text-align: center; }

.history-timeline-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%; }

.history-timeline-icon-decor {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d6d6d6;
  border: 3px solid #fff; }

.history-timeline-item_active .history-timeline-label {
  color: #2a364d;
  font-size: 15px; }

.history-timeline-item_active .history-timeline-icon {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(97, 107, 120, 0.23); }

.history-timeline-item_active .history-timeline-icon-decor {
  background-color: #335aa6; }

  
.content .list li::before {
  content: '\f058';
  font-family: "Line Awesome Free";
  font-weight: 900;
  width: auto;
  height: auto;
  margin-right: 6px;
  background-color: transparent;
  color: #025077;
}

@media screen and (max-width: 1200px) {
  .history-timeline-item {
    margin-right: 62px; } }

@media screen and (max-width: 992px) {
  .history-content_active {
    display: flex;
    flex-direction: column; }
  .history-slider {
    float: none;
    margin-right: auto;
    margin-left: auto;
    order: 1;
    width: 100%; }
}

@media screen and (max-width: 720px) {
  .history-panel {
    flex-direction: column; }
  .history-title {
    margin-bottom: 15px; }
  .history-slider-list {
    margin-left: 40px;
    margin-right: 40px;
    overflow: visible; }
  .history-slider-nav {
    display: none; }
  .history .owl-item.active:after {
    display: none; } }
.about-history {
    margin-bottom: 30px; }

/*\\history*/