
.blog {
    &-title {
        margin-bottom: 25px;
    }
    &-list {
        margin-bottom: 50px;
    }
    &-item {
        margin-bottom: 30px;
    }
    &-tags {
        margin-bottom: 38px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
    }
    &-tags-list {
        overflow: hidden;
        height: 37px;
    }
    &-tags-item {
        padding-right: 8px;
        margin-right: 0;
    }
    &-tags-item-more {
        display: none;
    }
    &-tags-link-up {}
    &-tags-link-down {}
    &-tags_active {
    }
    &-tags-target {
        display: none;
    }
    &-tags_active &-tags-list {
        overflow: visible;
        height: auto;
    }
    &-tags_active &-tags-target {
        display: flex;
        flex-wrap: wrap;
    }
    &-tags_active &-tags-link-down {
        display: none;
    }
    &-tags_active &-tags-link-up {
        display: block;
    }

    &-tabs {
        @include clearfix();
        position: relative;
        margin-bottom: 19px;
        &:before {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: -15px;
            z-index: 1;
            width: 60px;
            height: 100%;
            background: url(../images/products/decor-bgr.png) repeat-y 0 0;
            transform: scaleX(-1);
        }
        &:after {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            right: -15px;
            width: 60px;
            height: 100%;
            background: url(../images/products/decor-bgr.png) repeat-y 0 0;
        }
        &-menu {
            height: 30px;
            border-bottom: 2px solid #eeeeee;
        }
        &-menu-item {
            width: auto;
        }
        &-menu-link {
            float: left;
            margin-right: 40px;
            padding-bottom: 9px;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            font-size: 15px;
            color: #7d7d7d;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            &:hover {
                border-color: #00597d;
            }
        }
        &-menu-item_active {}
        &-menu-item_active &-menu-link {
            border-color: #00597d;
            color: #1b1b1b;
        }
        &-menu-item_active &-item {
            display: block;
        }
        &-item {
            display: none;
            position: relative;
            top: 69px;
            float: right;
            width: 100%;
            height: auto;
            margin-left: -100%;
            h2 {
                margin-bottom: 14px;
                font-size: 22px;
            }
        }
        &-menu-icon {
            display: none;
            font-size: 16px;
            color: #1d1d1d;
        }
    }
}

.blog-detail {
    &-title {
        margin-bottom: 10px;
    }
    &-category {
        margin-bottom: 10px;
        font-size: 12px;
        color: #a1a1a1;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }
    &-date {
        display: block;
        margin-bottom: 22px;
        font-size: 15px;
        color: #a1a1a1;
    }
    &-date-icon {
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 4px;
        font-size: 17px;
    }
    .content &-notes {
        margin-bottom: 31px;
        margin-left: 0;
    }
    .content &-notes-item {
        margin-bottom: 6px;
        &:before {
            display: none;
        }
    }
    .content &-notes-link {
        font-size: 17px;
        color: #1d1d1d;
        text-decoration: underline;
        font-family: 'PFDinDisplayPro', sans-serif;
        &:hover {
            text-decoration: none;
            color: #1d1d1d;
        }
    }
    &-video {
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(49, 49, 49, 0.3);
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 207px;
            background: url(../images/header/gallery/decor-bottom-bgr-mob.png) repeat-x left bottom;
            opacity: 0.7;
        }
    }
    &-video-img {
        display: block;
    }
    &-video-play-block {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    &-video-play-icon {
        font-size: 15px;
    }
    &-img-left {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    &-products-wrapper {
        margin-bottom: 70px;
    }
    &-products {
        overflow: hidden;
        margin: 30px -9px -100px;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 120px;
    }
    &-products-list {}
    &-products-item {
    }
    &-panel {
        margin-bottom: 40px;
        padding-top: 19px;
        padding-bottom: 10px;
        border: solid #eeeeee;
        border-width: 1px 0;
    }
    &-actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &-actions-button {}
    &-actions-icon {
        font-size: 20px;
        margin-top: -2px;
        vertical-align: middle;
    }
    &-actions-icon_prev {
        margin-right: 5px;
    }
    &-actions-icon_next {
        margin-left: 5px;
    }
    &-actions-label {}

    &-side-title {
        display: block;
        margin-bottom: 25px;
        padding-bottom: 12px;
        border-bottom: 2px solid #eeeeee;
        font-size: 15px;
        color: #1d1d1d;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-side-title_category {
        margin-bottom: 0;
    }
    &-menu {
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fff;
    }
    &-menu-list {
    }
    &-menu-item {
        border-bottom: 1px dotted #e2e2e2;
    }
    &-menu-item_hide {
        display: none;
    }
    &-menu-link {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        font-size: 17px;
        color: #7d7d7d;
        &:hover {
            color: #00597d;
        }
    }
    &-menu-more {
        margin-top: 10px;
    }

    &-menu-mob {
        display: none;
        margin-bottom: 30px;
    }
    &-menu-mob-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        color: #fff;
    }
    &-menu-mob-icon {
        width: 25px;
        height: 20px;
        fill: #fff;
    }

    &-side-item {
        margin-bottom: 37px;
    }

    &-publications {
        padding-bottom: 8px;
    }
    &-publications-item {
        display: flex;
        margin-bottom: 25px;
        padding-bottom: 24px;
        border-bottom: 1px dotted #e2e2e2;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-publications-info {
        margin-top: -4px;
        line-height: 19px;
    }
    &-publications-img {
        min-width: 90px;
        width: 90px;
        margin-right: 15px;
        line-height: 0;
    }
    &-publications-link {
        text-decoration: none;
        font-size: 17px;
        line-height: 19px;
        color: #1c1c1c;
        font-weight: 700;
        &:hover {
            color: #014160;
        }
    }
    &-publications-date {
        display: block;
        margin-top: 8px;
        font-size: 15px;
        color: #a0a0a0;
    }
    &-publications-date-icon {
        margin-top: -2px;
        margin-right: 4px;
        font-size: 17px;
        color: #a0a0a0;
        vertical-align: middle;
    }
    &-publications-pic {
        display: block;
    }
}


@media screen
and (max-width: $desktop){
}

@media screen
and (max-width: $tablet){
    .blog {
        &-list {
            margin-bottom: 15px;
        }
        &-tabs {
            &:before {
                display: block;
            }
            &:after {
                display: block;
            }
            &-menu-link {
                margin-right: 25px;
            }
        }
   }
    .blog-detail {
        &-products-wrapper {
            margin-bottom: 29px;
        }
        &-products {
            overflow: visible;
            margin-left: 45px;
            margin-right: 45px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        &-products-item {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
        &-products-item.swiper-slide-active {
            &:after {
                display: none;
            }
        }
        &-products-item.swiper-slide-active + &-products-item {
            &:after {
                display: none;
            }
        }
        &-menu {
            display: none;
        }
        &-menu-mob {
            display: block;
        }
    }
}

@media screen
and (max-width: $mobile){
    .blog {
        &-tabs {
            &-menu-link {
                margin-right: 20px;
            }
        }
    }
    .blog-detail {
        &-video {
            float: none;
            margin-right: 0;
        }
        &-products {
            margin-left: 40px;
            margin-right: 40px;
            padding-left: 0;
            padding-right: 0;
        }
        &-products-item.swiper-slide-active + &-products-item {
            &:after {
                display: block;
            }
        }
        &-actions-label {
            display: none;
        }
        &-actions-icon_prev {
            margin-right: 0;
        }
        &-actions-icon_next {
            margin-left: 0;
        }
        &-actions-button {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
